<!doctype html>
<html lang="en">
{{ partial "header.html" . }}
<body itemscope itemtype="http://schema.org/BlogPosting" class="default-list-view">
{{ partial "banner.html" . }}
<main class="epistolae-inner-container" id="maincontent" aria-labelledby="pageContentTitle">
    <h1 class="list-view-title" id="pageContentTitle">Women</h1>

    <form id="search" class="search mb-2 women" role="search">
        <input type="hidden" id="record-type" name="record-type" value="woman" />
        <div class="form-row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="search-text">Search by name</label>
                    <input type="search" id="search-text" class="search-input form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Clear</button>
            </div>
        </div>
    </form>

    <template id="search-result">
        <tr>
            <td>
                <a class="woman-name" itemprop="url"></a>
            </td>
            <td>
                <span class="social-title"></span>
            </td>
            <td>
                <span class="birth-date"></span>
            </td>
            <td>
                <span class="death-date"></span>
            </td>
        </tr>
    </template>

    {{ $paginator := .Paginate (.Data.Pages.ByParam "ititle") }}

    <div class="row mt-3">
        <div class="col text-right pager-indicator mb-1">
            <span id="record-count" class="record-count">{{mul $paginator.TotalPages 25 }}</span> Biographies
        </div>
    </div>
    <table class="table table-bordered table-sm table-responsive-sm">
        <thead>
            <th>Name</th>
            <th>Title</th>
            <th>Date of Birth</th>
            <th>Date of Death</th>
        </thead>
        <tbody class="search-result-container">
            {{ range ($paginator.Pages.ByParam "ititle") }}
                {{ .Render "summary" }}
            {{ end }}
        </tbody>
    </table>
    <div id="search-message"></div>

    {{partial "pagination.html" .}}
</main>
{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}
{{ partial "lunr-search.html" . }}
</body>
</html>