<!doctype html>
<html lang="en">
{{ partial "header.html" . }}
<body itemscope itemtype="http://schema.org/BlogPosting" class="default-list-view">
{{ partial "banner.html" . }}
<main class="epistolae-inner-container" id="maincontent" aria-labelledby="pageContentTitle">
    <h1 class="list-view-title" id="pageContentTitle">Women</h1>

    {{ $paginator := .Paginate (.Data.Pages.ByParam "ititle") }}

    <table class="table table-bordered table-sm table-responsive-sm">
        <thead>
            <th>Name</th>
            <th>Title</th>
            <th>Date of Birth</th>
            <th>Date of Death</th>
        </thead>
        <tbody>
            {{ range ($paginator.Pages.ByParam "ititle") }}
                {{ .Render "summary" }}
            {{ end }}
        </tbody>
    </table>

    {{partial "pagination.html" .}}
</main>
{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}
</body>
</html>