<!doctype html>
<html lang="en">
{{ partial "header.html" . }}
<body>
{{ partial "banner.html" . }}
    <main class="epistolae-inner-container" id="maincontent" aria-label="List of latest and recent articles">
        <div class="row">
            <div class="col-md-8">
                <h1 id="primary-title">Epistol&#xe6;: Medieval Women's Letters</h1>

                <p>Epistol&#xe6; is a collection of medieval Latin letters to and from
                    women. The letters collected here date from the 4th to the 13th
                    centuries, and they are presented in their original Latin as well as
                    in English translation. The letters are organized by the name and
                    biography of the women writers or recipients. Biographical sketches
                    of the women, descriptions of the subject matter of the letters, and
                    the historical context of the correspondence are included where
                    available.</p>

                <p>Dr. Joan Ferrante, Professor Emerita of English and Comparative
                    Literature of Columbia University, has, with her colleagues
                    collected and translated these letters mainly from printed sources.
                    She has worked with the Columbia Center for New Media Teaching and
                    Learning to develop this unique open online collection for teaching
                    and research purposes. New letters continue to be added to the
                    collection.</p>

                <p>
                    For more information, please read <a href="/about/">About Epistol&#xe6</a>.
                </p>

                <p class="mb-1">
                On this site you can:
                </p>
                <ul>
                    <li>
                        <a href="/women">browse and search biographies of authors as well as recipients</a>
                    </li>
                    <li>
                        <a href="/letters">browse and search the letters</a>
                    </li>
                    <li>
                        <a href="/resources">locate resources for research into these Medieval materials</a>
                    </li>
                </ul>
                </p>

            </div>
            <div class="col-md-4">
              <img class="img-fluid" src="{{ .Site.BaseURL }}/img/cover-right.jpg" alt="Countess Matilda of Tuscan from the frontispiece of Donizo's Vita Mathildis" />
              <figcaption class="mt-1">Miniature of <a href="/woman/29.html">Matilda of Tuscany</a> from the frontispiece of Donizo's Vita Mathildis (Vatican Library, Codex Vat. Lat. 4922, fol. 7v.).<br /> &mdash; <a href="https://en.wikipedia.org/wiki/Matilda_of_Tuscany">Wikipedia</a></figcaption>
            </div>
        </div>
    </main>
{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}
</body>
</html>
