<!doctype html>
<html lang="en">
{{ partial "header.html" . }}
<body>
    {{ partial "banner.html" . }}
    <main class="container {{ .Section }}" id="maincontent" aria-labelledby="pageContentTitle">
        <h1 class="list-view-title mb-4" id="pageContentTitle">
            {{ .Title }}
        </h1>

        <div>
            <h2>Sender</h2>
            {{ if .Params.senders }}
                {{ with .Params.senders }}
                    {{ range sort . "iname" }}
                        <a href="/{{.type}}/{{.id}}.html">
                            {{ .name }}
                        </a><br />
                    {{ end }}
                {{ end }}
            {{ end }}
            <h2 class="mt-4">Receiver</h2>
            {{ if .Params.receivers }}
                {{ with .Params.receivers }}
                    {{ range sort . "iname" }}
                        <a href="/{{.type}}/{{.id}}.html">
                            {{ .name }}
                        </a><br />
                    {{ end }}
                {{ end }}
            {{ end }}

            <div class="mt-4">
                {{ .Content }}
            </div>
        </div>
    </main>
{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}
</body>
</html>