<!doctype html>
<html lang="en">
{{ partial "header.html" . }}
<body>
    {{ partial "banner.html" . }}
    <main class="container {{ .Section }}" id="maincontent" aria-labelledby="pageContentTitle">
        <h1 class="list-view-title mb-4" id="pageContentTitle">
            {{ .Title }}
        </h1>

        <div>
            <h2>Sender</h2>
            {{ range .Params.senders }}
                <a href="/woman/{{.id}}.html">
                    {{ .name }}
                </a><br />
            {{ end }}

            <h2 class="mt-4">Receiver</h2>
            {{ range .Params.receivers }}
                <a href="/woman/{{.id}}.html">
                    {{ .name }}
                </a><br />
            {{ end }}

            <div class="mt-4">
            {{ .Content }}
            </div>
        </div>
    </main>
{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}
</body>
</html>