<!doctype html>
<html lang="en">
{{ partial "header.html" . }}
<body itemscope itemtype="http://schema.org/BlogPosting" class="default-list-view">
{{ partial "banner.html" . }}
<main class="epistolae-inner-container" id="maincontent" aria-labelledby="pageContentTitle">
    <h1 class="list-view-title" id="pageContentTitle">People</h1>

    {{ $paginator := .Paginate (.Data.Pages.ByParam "ititle") }}

    <table class="table table-bordered table-sm table-responsive-sm">
    {{ range ($paginator.Pages.ByParam "ititle") }}
        {{ .Render "summary" }}
    {{ end }}
    </table>

    {{partial "pagination.html" .}}
</main>
{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}
</body>
</html>