body {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main a,
footer a {
    color: #06c;
}

a:focus, a:active {
    border: 0;
    outline: 0.125rem solid #06c;
    color: #fff !important;
    background-color: #06c;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: 400;
    line-height: 120%;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

p {
    margin: 0 auto 1.2rem auto;
    font-size: 1rem;
}


/* Header elements */

.skippy {
    display: block;
    padding: 1rem;
    text-align: center;
}

.skippy:focus, .skippy:active {
    color: #06c !important;
    border: 0;
    outline: none;
    background-color: transparent;
}

.skippy-text {
    padding: 0.5rem;
    background-color: transparent !important;
    outline: 0.125rem dotted #06c !important;
    color: #06c !important;
}

.site-header {
    margin-bottom: 3rem;
    background-color: #f0d390;
    background-image: -webkit-linear-gradient(top,#f0d390 0%,#ead5a7 100%);
}

.site-header .nav-item a:focus, .site-header .nav-item a:active {
    border: 0;
    outline: 0.0625rem dashed #666;
    color: #1a1a1a !important;
    background-color: #ead5a7;
}

.site-header .nav-link {
    color: #1a1a1a;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1a1a1a;
    font-weight: bold;
}

.navbar-brand {
    border: 0.0625rem dashed transparent;
}

.site-header .navbar-brand:focus, .site-header .navbar-brand:active {
    background-color: #fff;
    outline: none;
    border: 0.0625rem dashed #06f;
    transition: all 0.3s;
}

.navbar-brand img {
    height: 1.5rem;
    padding: 0rem;
}

.site-header .navbar-toggler {
    background-color: #e3e3e3;
    border: 0;
}

/* Home page elements */

#front-page-logo {
    margin-bottom: 20px;
}

#front-page-logo .banner-left-logo {
    display: block;
    width: 175px;
}

#front-page-logo .banner-right-logo {
    display: block;
    width: 350px;
    float: right;
    margin: 40px 20px 0px 0px;
}

.cover-right {
    width: 100%;
    height: auto;
}

.footer-info {
    text-align: center;
    padding: 0 0.875rem;
}

.footer-info p {
    font-size: 0.75rem;
}

.footer-info p a {
    font-weight: 700;
}

.ctl-branding {
    text-align: center;
}

.ctl-branding img {
    height: 4rem;
    padding: 0.5rem;
}

.ctl-branding a:focus,
.ctl-branding a:active {
    border: 0;
    outline: 0.0625rem dashed #06f;
    background-color: transparent !important;
}

/* Entry header */

.entry-header {
    text-align: center;
    margin-bottom: 1rem;
}

.entry-header figure {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.entry-header figcaption {
    text-align: right;
    padding-right: 0.625rem;
}

.entry-title {
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
}

/* Entry content basic styles */

.entry-content {
    margin: 0;
    padding: 0;
}

.entry-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 130%;
    margin: 2rem auto 0.875rem auto;
}

.entry-content h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
    font-style: italic;
}

.entry-content h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
    color: #1a1a1a;
}

.entry-content ol li,
.entry-content ul li,
.contrib-authors li {
    margin: 0 auto 0.5rem auto;
    font-size: 1rem;
}

.entry-content a {
    box-shadow: inset 0 -1px 0 #339933;
}

.entry-content a:hover {
    box-shadow: inset 0 -1px 0 #06c;
    background-color: #e4f1fd;
    text-decoration: none;
}

.entry-content a:focus, .entry-content a:focus {
    box-shadow: none;
    text-decoration: none;
}

.entry-content a:focus, .entry-content a:active {
    color: #fff !important;
    background-color: #06c !important;
}

.print-alert {
    padding: 0.5rem;
    border: 1px solid #ccc;
    width: 80%;
    margin: 1rem auto;
}

/* Sections */
main.genealogy p {
    margin: 0 auto 0 auto;
}

/* Footer elements */

footer {
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: #f0d390;
    background-image: -webkit-linear-gradient(top,#f0d390 0%,#ead5a7 100%);
}


/* GDPR cookies notice */

#cu-privacy-notice {
    width: 100% !important;
    padding: 1rem !important;
}

#cu-privacy-notice-text {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.875rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    p {
        margin: 0 auto 1.2rem auto;
        font-size: 1.125rem;
    }
    li {
        font-size: 1.125rem;
    }
    .site-header .nav-link {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
        margin-left: 0.25rem !important;
        margin-right: 0.25rem !important;
    }
    .site-header .nav-item.active {
        border-bottom: 0.25rem solid #060;
    }
    .site-header .nav-item.active .nav-link {
        background-color: transparent;
    }

    .footer-info {
        padding: 0;
    }
    .footer-info p {
        font-size: 0.875rem;
    }
    .ctl-branding img {
        height: 5rem;
        padding: 0.5rem;
    }
    .entry-content {
        margin: 0 1.5625rem;
        padding: 0;
    }
    .entry-content h2 {
        margin: 4rem auto 1.2rem auto;
        font-weight: 400;
        font-size: 1.75rem;
    }
    .entry-content h3 {
        margin: 2rem auto 1.2rem auto;
        font-size: 1.375rem;
    }
    .entry-content p {
        margin: 0 auto 1.2rem auto;
        font-size: 1.125rem;
    }
    .entry-content ol li,
    .entry-content ul li,
    .contrib-authors li {
        font-size: 1.125rem;
    }
    .entry-content figure {
        margin: 3rem -1.5625rem 3rem -1.5625rem;
    }
    .entry-content figcaption p {
        margin: 0 auto;
        font-size: 0.875rem;
        max-width: 47rem;
    }
    .entry-content pre {
        margin: 1.2rem -1.5625rem 1.2rem -1.5625rem;
        font-size: 0.875rem;
        border: 1px solid #ccc;
        border-radius: 0.3125rem;;
    }
    #cu-privacy-notice {
        padding: 1.5rem !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .footer-info {
        padding: 0 5rem;
    }
    .entry-content {
        margin: 0 4rem;
        padding: 0;
    }
    .entry-content figure {
        margin: 3rem -4rem 3rem -4rem;
    }
    .entry-content pre {
        margin: 1.2rem -4rem 1.2rem -4rem;
        font-size: 1rem;
    }
    #cu-privacy-notice {
        padding: 2rem !important;
    }
    #cu-privacy-notice-text {
        font-size: 1.125rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .entry-content {
        margin: 0 8.75rem;
        padding: 0;
    }
    .entry-content figure {
        margin: 3rem -8.75rem 3rem -8.75rem;
    }
}
