body {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ead5a7 url(../img/bg_public_body.jpg) top left no-repeat;
    font-size: 1.1rem;
}

main a,
footer a {
    color: #930;
}

a:hover {
    text-decoration: underline;
    color: #930;
}

a:focus, a:active {
    border: 0;
    outline: 0.125rem dotted black;
    color: #930;
    background-color: #fcfaf4;
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: 400;
    line-height: 120%;
    margin-top: 1rem;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.1em;
}

p {
    margin: 0 auto 1.2rem auto;
    font-size: 1rem;
}

.epistolae-container {
    margin: 0 10px;
}

.epistolae-inner-container {
    margin: 0 10px;
    background-color: #fcfaf4;
    padding: 10px;
}

/* Header elements */

.skippy {
    display: block;
    padding: 1rem;
    text-align: center;
}

.skippy:focus, .skippy:active {
    color: #06c !important;
    border: 0;
    outline: none;
    background-color: transparent;
}

.skippy-text {
    padding: 0.5rem;
    background-color: transparent !important;
    outline: 0.125rem dotted #06c !important;
    color: #06c !important;
}

.site-header {
    background: url(../img/bg_public_header.gif) left bottom repeat-x;
    height: 105px;
    margin-bottom: .5em !important;
}

#front-page-logo .banner-left-logo {
    width: 175px;
}

#front-page-logo .banner-right-logo {
    display: none;
}

.navbar {
    background-color: #ead5a7 !important;
    border-bottom: 1px solid #c96;
    padding: 0 1rem 0 0;
}

.navbar-brand {
    font-size: 1.125rem;
    color: black !important;
    margin-right: 0;
    padding-top: 0;
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
}

.nav-link {
    color: black !important;
    padding-left: 1rem !important;
}

.navbar-brand:hover,
.nav-item a:hover {
    color: #930;
    outline: 0.0625rem dashed #666;
}

.navbar-brand:focus, .navbar-brand:active,
.nav-item a:focus, .nav-item a:active {
    border: 0;
    outline: 0.0625rem dashed #666;
    color: #1a1a1a !important;
    background-color: #ead5a7;
}

/* Home page elements */

.cover-right {
    width: 100%;
    height: auto;
}

.footer-info {
    text-align: center;
    padding: 0 0.875rem;
}

.footer-info p {
    font-size: 1rem;
}

.footer-info p a {
    font-weight: 700;
}

.ctl-branding {
    text-align: center;
}

.ctl-branding img.cul-logo {
    height: 3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.ctl-branding img.ctl-logo {
    height: 4rem;
    padding: 0.5rem;
}


.ctl-branding a:focus,
.ctl-branding a:active {
    border: 0;
    outline: 0.0625rem dashed #06f;
    background-color: transparent !important;
}

/* Entry header */

.entry-header {
    text-align: center;
    margin-bottom: 1rem;
}

.entry-header figure {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.entry-header figcaption {
    text-align: right;
    padding-right: 0.625rem;
}

.entry-title {
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
}

/* Entry content basic styles */

.entry-content {
    margin: 0;
    padding: 0;
}

.entry-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 130%;
    margin: 2rem auto 0.875rem auto;
}

.entry-content h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
    font-style: italic;
}

.entry-content h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
    color: #1a1a1a;
}

.entry-content ol li,
.entry-content ul li,
.contrib-authors li {
    margin: 0 auto 0.5rem auto;
    font-size: 1rem;
}

.entry-content a {
    box-shadow: inset 0 -1px 0 #339933;
}

.entry-content a:hover {
    box-shadow: inset 0 -1px 0 #06c;
    background-color: #e4f1fd;
    text-decoration: none;
}

.entry-content a:focus, .entry-content a:focus {
    box-shadow: none;
    text-decoration: none;
}

.entry-content a:focus, .entry-content a:active {
    color: #fff !important;
    background-color: #06c !important;
}

.print-alert {
    padding: 0.5rem;
    border: 1px solid #ccc;
    width: 80%;
    margin: 1rem auto;
}

/* Sections */
main.genealogy p {
    margin: 0 auto 0 auto;
}

/* Footer elements */

footer {
    padding-top: 1rem;
    padding-bottom: 4rem;
}

/* GDPR cookies notice */

#cu-privacy-notice {
    width: 100% !important;
    padding: 1rem !important;
}

#cu-privacy-notice-text {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.875rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
    #front-page-logo .banner-right-logo {
        width: 275px;
        float: right;
        margin-top: 66px;
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        margin: 0 auto 1.2rem auto;
        font-size: 1.125rem;
    }
    li {
        font-size: 1.125rem;
    }
    .epistolae-container {
        margin: 0 72px;
    }
    .epistolae-inner-container {
        margin: 0 72px;
        padding: 10px 30px;
    }
    #front-page-logo .banner-left-logo {
        width: 175px;
    }
    #front-page-logo .banner-right-logo {
        width: 350px;
        margin-top: 60px;
        float: right;
        display: block;
    }
    .footer-info {
        padding: 0;
    }
    .ctl-branding img.cul-logo {
        height: 4rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    .ctl-branding img.ctl-logo {
        height: 5rem;
        padding: 0.5rem;
    }
    .ctl-branding img {
        height: 5rem;
        padding: 0.5rem;
    }
    .entry-content {
        margin: 0 1.5625rem;
        padding: 0;
    }
    .entry-content h2 {
        margin: 4rem auto 1.2rem auto;
        font-weight: 400;
        font-size: 1.75rem;
    }
    .entry-content h3 {
        margin: 2rem auto 1.2rem auto;
        font-size: 1.375rem;
    }
    .entry-content p {
        margin: 0 auto 1.2rem auto;
        font-size: 1.125rem;
    }
    .entry-content ol li,
    .entry-content ul li,
    .contrib-authors li {
        font-size: 1.125rem;
    }
    .entry-content figure {
        margin: 3rem -1.5625rem 3rem -1.5625rem;
    }
    .entry-content figcaption p {
        margin: 0 auto;
        font-size: 0.875rem;
        max-width: 47rem;
    }
    .entry-content pre {
        margin: 1.2rem -1.5625rem 1.2rem -1.5625rem;
        font-size: 0.875rem;
        border: 1px solid #ccc;
        border-radius: 0.3125rem;;
    }
    #cu-privacy-notice {
        padding: 1.5rem !important;
    }
    .nav-item {
        margin-left: 0rem;
        margin-right: 0.5rem;
    }
    .navbar-brand.active,
    .nav-item.active {
        color: #1a1a1a;
        font-weight: bold;
        border: 0;
        border-bottom: #930 5px solid;
        background-color: #fcfaf4;
    }
    .navbar-brand.active {
        margin-bottom: 0;
    }
    .nav-link {
        padding-left: 0.5rem !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .footer-info {
        padding: 0 5rem;
    }
    .entry-content {
        margin: 0 4rem;
        padding: 0;
    }
    .entry-content figure {
        margin: 3rem -4rem 3rem -4rem;
    }
    .entry-content pre {
        margin: 1.2rem -4rem 1.2rem -4rem;
        font-size: 1rem;
    }
    #cu-privacy-notice {
        padding: 2rem !important;
    }
    #cu-privacy-notice-text {
        font-size: 1.125rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .entry-content {
        margin: 0 8.75rem;
        padding: 0;
    }
    .entry-content figure {
        margin: 3rem -8.75rem 3rem -8.75rem;
    }
}

/* Search */
form#search button[type="submit"] {
    background-color: #930;
    border-color: #930;
}

form#search label {
    margin-bottom: 0;
}

.pager-indicator {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    form#search button[type="submit"],
    form#search button[type="reset"] {
            margin-top: 26px;
    }
}
