{{ "<!-- Open Graph -->" | safeHTML }}
<meta property="og:title" content="
    {{- if .IsHome -}}
        {{- .Site.Title -}}
    {{- else -}}
        {{- .Title }} — {{ .Site.Params.shortTitle -}}
    {{- end -}}" />
<meta property="og:type" content="website" />
{{ if (and .IsPage (eq .Type "post")) -}}
    {{- if.Params.socmediaimg -}}
        <meta name="og:image" content="{{- .Site.BaseURL -}}img/assets/{{- .Params.socmediaimg -}}" />
        <meta name="og:image:alt" content="A poster image for {{ .Title }}" />
    {{- else -}}
        <meta name="og:image" content="
            {{- if.Params.poster -}}
                {{- .Site.BaseURL -}}img/assets/{{- .Params.poster -}}
            {{- else -}}
                {{- .Site.BaseURL -}}img/og-compiled-image.png
            {{- end -}}" />
        <meta name="og:image:alt" content="A poster image for {{ .Title }}" />
    {{- end -}}
{{ else -}}
    <meta name="og:image" content="{{- .Site.BaseURL -}}img/og-compiled-image.png" />
    <meta name="og:image:alt" content="A poster image of CompilED banner" />
{{- end }}
<meta property="og:description" content='
    {{- if (and .IsPage (eq .Type "post")) -}}
        {{- if .Params.lede -}}
            {{- .Date.Format "Jan 2, 2006" }} — {{ .Params.lede -}}
        {{- else -}}
            {{- .Date.Format "Jan 2, 2006" }} — {{ .Summary -}}
        {{- end -}}
    {{- else -}}
        {{- .Site.Params.description -}}
    {{- end -}}' />
<meta property="og:url" content="
    {{- if .IsHome -}}
        {{- .Site.BaseURL -}}
    {{- else -}}
        {{- .Permalink -}}
    {{- end -}}" />
<meta property="og:site_name" content="{{- .Site.Title -}}" />
